$background-color: #eee;
$text-color: #444;
$base-margin: 40px;

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
}

@import './reset.scss';
@import './GeocodeResult.scss';
@import './Map.scss';
@import './App.scss';
@import './SearchForm.scss';
@import './HotelsTable.scss';
@import './HotelsClickableTh.scss';
